---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'code | kalynbeach';
const pageDescription = 'Code by Kalyn Beach.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1 class='text-3xl mb-8'>💻</h1>
  <p>More to come...</p>
</BaseLayout>