---
import BaseLayout from '../../layouts/BaseLayout.astro';

const pageTitle = 'music | kalynbeach';
const pageDescription = 'Kalyn Beach Music.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1 class='text-3xl mb-8'>🔊</h1>
  <p>More to come...</p>
  <!-- See: https://github.com/justinmc/react-audio-player -->
</BaseLayout>