:root {
	/* --- Colors --- */
  --color-bg-primary: hsl(20, 11%, 5%); /* #0F0D0C */
  --color-bg-secondary: hsl(0, 0%, 8%); /* #141414 */
  --color-bg-tertiary: hsl(220, 21%, 8%); /* #11141A */
  --color-dark-primary: hsl(0, 0%, 8%); /* #141414 */
  --color-dark-secondary: hsl(0, 0%, 10%); /* #191919 */
  --color-dark-tertiary: hsl(0, 0%, 14%); /* #242424 */
  --color-light-primary: hsl(0, 0%, 85%); /* #d8d8d8 */
  --color-light-secondary: hsl(0, 2%, 89%); /* #e4e3e3 */
  --color-light-green: hsl(114, 97%, 46%); /* #1ae803 */
  --color-dark-green: hsl(114, 99%, 32%); /* #11a101 */
}

html {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	color: #FFFFFF;
}