---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About';
const pageDescription = 'About it.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
	<h2>About</h2>
</BaseLayout>
