---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'about | kalynbeach';
const pageDescription = 'About it.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <h1 class='text-3xl mb-8'>🪬</h1>
</BaseLayout>
