---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Home';
const pageDescription = 'Welcome home.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
	<h2>Home</h2>
</BaseLayout>
