---
const today = new Date();
---

<footer class='w-full mx-auto my-0 p-0'>
	<div class='h-56 py-0 flex flex-row justify-between items-center text-xs'>
		<span class=''>&copy; Kalyn Beach {today.getFullYear()}</span>
		<div class='flex flex-row justify-evenly items-center'>
			<a class='inline-block' href='https://github.com/kalynbeach' target='_blank'>GitHub</a>
			<a class='inline-block ml-12' href='https://discordapp.com/channels/@me/KB#8447/' target='_blank'>Discord</a>
			<a class='inline-block ml-12' href='https://twitter.com/kalynbeach' target='_blank'>Twitter</a>
		</div>
	</div>
</footer>
