---
const today = new Date();
---

<footer class='w-full h-36 mx-auto my-0 p-0 flex flex-col md:flex-row justify-evenly md:justify-between items-start md:items-center font-mono text-xs'>
	<span class=''>&copy; Kalyn Beach {today.getFullYear()}</span>
	<div class='flex flex-row justify-evenly items-center'>
		<a class='inline-block transition' href='https://github.com/kalynbeach' target='_blank'>GitHub</a>
		<a class='inline-block ml-12 transition' href='https://discordapp.com/channels/@me/KB#8447/' target='_blank'>Discord</a>
		<a class='inline-block ml-12 transition' href='https://twitter.com/kalynbeach' target='_blank'>Twitter</a>
	</div>
</footer>

<style>
  a:hover {
    color: var(--color-light-green);
  }
</style>
