---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
	href={href}
	class:list={[
		className,
		{ 'text-kb-green-light': isActive },
		'mr-8 last-of-type:mr-0 text-sm hover:text-kb-green-light md:text-base font-mono transition'
	]}
	{...props}
>
	<slot />
</a>