---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class='m-0 p-0 basis-32 flex flex-row justify-between items-center sticky top-0 dark:bg-night-900'>
	<a href='/'>
		<h2 class='text-base md:text-lg font-mono'>{SITE_TITLE}</h2>
	</a>
	<nav>
		<HeaderLink href='/about'>about</HeaderLink>
		<HeaderLink href='/blog'>blog</HeaderLink>
	</nav>
</header>
