---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }, 'text-sm md:text-base font-mono transition']} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
	}
	a:not(:last-of-type) {
		margin-right: 2rem;
	}
	a.active,
	a:hover {
		color: var(--color-light-green);
	}
</style>
