---
import HeaderLink from './HeaderLink.astro';
---

<script>
  const mobileMenu = document.querySelector('#mobile-menu')!;
  const mobileMenuToggle = document.querySelector('#mobile-menu-toggle')!;
  const openButton = document.querySelector('#open')!;
  const closeButton = document.querySelector('#close')!;

  mobileMenuToggle.addEventListener('click', () => {
    console.log('[Nav] clicked');
    mobileMenu.classList.toggle('hidden');
    openButton.classList.toggle('hidden');
    closeButton.classList.toggle('hidden');
  });
</script>

<nav class='hidden md:flex'>
  <HeaderLink href='/about/'>about</HeaderLink>
  <HeaderLink href='/blog/'>blog</HeaderLink>
</nav>

<nav class='sm:flex md:hidden'>
  <div id='mobile-menu-toggle'>
    <div id='open' class='nav-button'>Ⓞ</div>
    <div id='close' class='nav-button hidden'>Ⅹ</div>
  </div>
</nav>

<div id='mobile-menu' class='hidden w-screen min-h-fit p-8 -left-0 absolute top-32 flex flex-col gap-8 bg-night-900'>
  <HeaderLink href='/about/'>about</HeaderLink>
  <HeaderLink href='/blog/'>blog</HeaderLink>
</div>