---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
const { pageTitle, pageDescription } = Astro.props;
---

<!DOCTYPE html>
<html class='dark box-border bg-night-900 text-white' lang='en'>
	<head>
		<BaseHead title={pageTitle} description={pageDescription} />
	</head>
	<body class='min-h-screen bg-night-900 text-white'>
		<div class='w-full md:max-w-3xl lg:max-w-4xl min-h-screen mx-auto px-4 md:px-8 flex flex-col'>
			<Header title={SITE_TITLE} />
			<main class='min-h-screen py-8 md:py-12 flex-1 flex flex-col'>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>